{% extends 'base.html' %}

{% load crispy_forms_tags%}

{% block content %}

    <div class="col-md-4 offset-md-4">

        <h4 class="text-center">Register with ChezaSafeLCM</h4>
        <form action="" method="POST">
            {% csrf_token %}

            {{form|crispy }}
            <br>

            <input class="btn btn-primary  offset-md-5" type="submit" value="Register"><br>

            <div class="text-center">
                <a  style="text-decoration: none;" href="{% url 'login' %}">Already have an account? Login</a>
            </div>

        </form>

        </div>

{% endblock %}